# macOS
.DS_Store

# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

# Swift Package Manager
Packages
Package.resolved

# Firebase
GoogleService-Info.plist

# Workspace generated
*.xcworkspace/xcshareddata/
